.navbar-container {
  /* border: 2px solid purple; */
}
.navbar {
  background-color: black;
  /* border: 2px solid green; */
  color: red;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  font-family: "Rock Salt", cursive;
  height: 15vh;
}
.collapse {
  /* border: 3px solid pink; */
  display: flex;
  justify-content: space-evenly;
}
.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
#logo-image {
  border: 1px solid #b5302e;
  width: 6em;
}
#home-row {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  background: black;
}
#demo {
  background: black;
}
.carousel-item {
  height: 85vh;
  background: black;
}
.carousel-img {
  width: 100%;
}
.signup-container {
  background-color: black;
  color: white;
  font-size: 30px;
  height: 82vh;
  font-family: "Rock Salt", cursive;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-file {
  font-size: 20px;
}
.form-group {
  width: 80vw;
}
.form-group > h2 {
  font-family: "Rock Salt", cursive;
  color: white;
}
#form {
  /* border: 2px solid blue; */
  height: 83.5vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.row {
  /* border: 5px solid maroon; */
  height: 85vh;
  background: black;
}
.react-calendar {
  background: black;
  width: 100vw;
  height: 90vh;
  /* border: 5px solid silver; */
}
.cal-div {
  height: 85vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* react-calendar__tile react-calendar__month-view__days__day react-calendar__month-view__days__day--neighboringMonth */